/* Global Styles */
:root {
	--primary-color: #17a2b8;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	box-sizing: border-box;
	margin: auto;
	font-family: 'Montserrat';
}

.auth-register-container, .auth-login-container {
	background: url('./img/bg_money-falling.jpg') no-repeat center center/cover;
	height: 100vh;
}

body {
	font-size: 1rem;
	justify-content: center;
	line-height: 1.6;
	background-color: #fff;
	color: #fff;
}

#aboutUs-modal,
#ourMission-modal,
#meetOurTeam-modal,
#testimonials-modal,
#gameArchives-modal,
#bingoExplained-modal,
#profile-modal,
#account-modal,
#subscribe-modal,
#wallet-modal {
	cursor: pointer;
}

#realTimeNews-modal,
#education-modal,
/* #live-community-blog, */ /* #ads-relative-to-blockchain, */ #gameStream-modal {
	cursor: pointer;
	width: 200px;
}

.alert {
	padding: 0.8rem;
	margin: 1rem 0;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}

.already-drawn {
	font-size: 12px;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
	background: var(--light-color);
	color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
	background: var(--success-color);
	color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
	background: #fff;
	color: #333;
	border: #ccc solid 1px;
}

.bg-modal {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	opacity: 0.7;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.bingo-logo-right {
	display: grid;
}

.bingo-square {
	font-size: 18px;
}

.bingo-winner {
	color: green;
	font-size: 25px;
}

.buttons {
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	font-size: 20px;
	height: 175px;
	width: 285px;
}

.btn-login, .btn-register {

}

.btn-landing {
	background: var(--light-color);
	color: #333;
	display: inline-block;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.btn-landing:hover, .btn-login:hover, .btn-register:hover {
	opacity: 0.8;
}

.close-modal {
	cursor: pointer;
	font-size: 42px;
	position: absolute;
	right: 14px;
	top: 0;
	transform: rotate(45deg);
}

/* Utilities */
.container {
	/* max-width: 1100px; */
	margin: auto;
	overflow: hidden;
	margin-top: 6rem;
	margin-bottom: 3rem;
}

/* Overlay */
.dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dashboard-container {
	color: black;
	text-align: center;
	margin-top: 170px;
}

.dashboard-title {
	text-align: center;
	margin-bottom: 20px;
}

.enter-site {
	margin-top: 200px;
}

.form {
	text-align: center;
}

.form input[type='text'],
input[type='email'],
input[type='password'],
input[type='phoneNumber'],
input[type='erc20'] {
	font-size: 15px;
	padding: 5px;
	width: 250px;
}

#first-name,
#last-name,
#email {
	padding: 8px;
	font-size: 15px;
}

.footer-login {
	bottom: 0;
	margin-top: 120px;
	text-align: center;
}

.footer-register {
	bottom: 0;
	text-align: center;
}

.form-group {
	margin: 10px;
}

.gameboard {
	display: grid;
	margin-bottom: 25px;
}

.gameboard-top-row {
	color: blue;
}

.gameStream-modal {
	display: grid;
	width: 200px;
}

h1 {
	font-size: 40px;
}

.hide-sms {
	display: grid;
}

.landing {
	background: url('./img/bg_money-falling.jpg') no-repeat center center/cover;
	color: white;
	display: grid;
	margin-top: 50px;
	height: 100vh;
}

.landing-inner {
	color: #fff;
	/* height: 100%;
	width: 100%; */
	margin: auto;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	text-align: center;
}

.login-header, .register-header {
	display: grid;
	text-align: center;
}

.modal-content {
	color: black;
	background-color: white;
	border-radius: 5px;
	height: 450px;
	margin-top: 270px;
	position: relative;
	text-align: center;
	width: 1200px;
}

/* #b1, #b2, #b3, #b5,
#i2, #i3, #i4, #i5,
#g4 #g1, #g3,
#o5,
#b4,
#g2,
#n5,
#b2,
#b3,
#o4 {
	background: red;
	border-radius: 50%;
} */

#n3 {
	background: red;
	border-radius: 50%;
	font-size: 14px;
	padding: 4px;
}

.redCell {
	background: red;
	border-radius: 50%;
	font-size: 14px;
	padding: 4px;
}

/* Navbar */
.navbar {
	background-color: #26436fbb;
	border-bottom: solid 1px var(--primary-color);
	height: 250px;
	font-size: 15px;
	opacity: 0.9;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
}

.navbar a {
	color: #fff;
}

.navbar h1 {
	font-size: 50px;
}

.nav-table-children {
	float: right;
	margin-top: -225px;
}

.random-number {
	font-size: 40px;
	/* outline: 2px solid blue; */
}

.row-1 {
	display: grid;
}

.row-2 {
	display: flex;
	grid-gap: 600px;
	grid-template-columns: 100px 100px;
	margin-bottom: 25px;
	margin-right: 60px;
}

.row-3 {
	display: flex;
	grid-gap: 600px;
	grid-template-columns: 100px 100px;
	margin-right: 60px;
}

#subscription-form-group {
	display: grid;
}

.top-tr {
	display: grid;
}

th {
	border: 1px solid black;
	padding: 20px;
}

.welcome-title {
	font-size: 20px;
}

.yes-button,
.no-button {
	border-radius: 6px;
	height: 75%;
	width: 75%;
}

/* Mobile Styles */

@media (max-width: 780px) {

	.auth-login-container {
		background: url('./img/bg_money-falling.jpg') no-repeat center center/cover;
		height: 120vh;
	}
	.auth-register-container {
		background: url('./img/bg_money-falling.jpg') no-repeat center center/cover;
		height: 135vh;
	}

	#account-modal,
	#profile-modal,
	#security-modal,
	#settings-modal,
	#wallet-modal,
	#nextGamecard-modal,
	#subscribe-modal {
		padding-left: 10px;
	}

	body {
		font-size: 12px;
	}

	.bg-modal {
		font-size: 11px;
	}

	.dashboard-title {
		font-size: 18px;
	}

	/* .gameboard {
		margin-right: 70px;
	} */

	.footer-login {
		bottom: 0;
		margin-top: 50px;
		text-align: center;
	}

	.footer-register {
		bottom: 0;
		text-align: center;
	}

	.gameboard th {
		font-size: 20px;
		margin-right: 300px;
		padding: 12px;
	}

	.hide-sms {
		/* display: none; */
		display: flex;
		margin-right: 400px;
		padding-left: 10px;
	}

	.modal-content {
		margin-top: 250px;
		width: 90%;
	}

	.modal-content h3 {
		margin-top: 25px;
	}

	#n3 {
		background: red;
		border-radius: 50%;
		font-size: 12px;
		padding: 4px;
	}

	.navbar h1 {
		font-size: 20px;
	}

	.navbar .bingo-logo-right {
		height: 150px;
		width: 200px;
	}

	.nav-table-children {
		font-size: 10px;
	}

	.row-2,
	.row-3 {
		display: inline-block;
		margin-top: 10px;
		margin-left: 50px;
		grid-gap: 600px;
	}

	th {
		padding: 6px;
		font-size: 12px;
	}
}

/* for centering placeholders */
::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}
