/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(0, 0, 0);
  text-decoration: none;
  text-decoration: underline;
}

body {
  font-family: 'Righteous', cursive;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  text-align: center;
}

#aboutUs-modal,
#account-modal,
#ads-relative-to-blockchain,
#bingoExplained-modal,
#education-modal,
#gameArchives-modal,
#gameStream-modal,
#live-community-blog,
#meetOurTeam-modal,
#profile-modal,
#nextGamecard-modal,
#ourMission-modal,
#realTimeNews-modal,
#security-modal,
#settings-modal,
#testimonials-modal,
#wallet-modal {
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  padding: 7px;
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);

}

#aboutUs-modal:hover,
#account-modal:hover,
#ads-relative-to-blockchain:hover,
#bingoExplained-modal:hover,
#education-modal:hover,
#gameArchives-modal:hover,
#gameStream-modal:hover,
#live-community-blog:hover,
#ourMission-modal:hover,
#meetOurTeam-modal:hover,
#profile-modal:hover,
#nextGamecard-modal:hover,
#realTimeNews-modal:hover,
#security-modal:hover,
#settings-modal:hover,
#testimonials-modal:hover,
#wallet-modal:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

#accountModal-edit {
  border: 2px solid grey;
  border-radius: 5px;
  margin : 0 auto;
  margin-top: 5px;
  width: 50%;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.already-drawn {
  font-size: 14px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bingo-square {
  font-size: 18px;
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}

.bingo-winner {
  color: green;
  font-size: 25px;
}

.bg-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  border-radius: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 7px;
  width: 110px;
}

.btn-landing:hover,
.btn-login:hover,
.btn-register:hover {
  opacity: 0.8;
}

.close-modal {
  cursor: pointer;
  font-size: 42px;
  position: absolute;
  right: 14px;
  transform: rotate(45deg);
}

/* Utilities */
.container {
  background-color: #FFFAFA;
  /* max-width: 1100px; */
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboard-body {
  display: block;
}

.dashboard-title {
  
}

.error-modal-writing, .success-modal-writing {
	font-size: 10px;
}

.fa-hashtag {
  height: 5px;
}

.footer-dashboard {
  background-color: #26436fbb;
  bottom: 0;
  color: white;
  font-size: 15px;
  height: 35px;
  left: 0;
  overflow: hidden;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  text-align: center;
}

.footer-landing {
  background-color: #26436fbb;
  bottom: 0;
  color: white;
  font-size: 15px;
  height: 35px;
  left: 0;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  text-align: center;
}

.footer-login {
  background-color: #26436fbb;
  bottom: 0;
  color: white;
  font-size: 15px;
  height: 35px;
  left: 0;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  text-align: center;
}

.footer-register {
  background-color: #26436fbb;
  bottom: 0;
  color: white;
  font-size: 15px;
  height: 35px;
  left: 0;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  text-align: center;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form input[type="phoneNumber"],
.form input[type="btcAddress"],
.form select,
.form textarea {
  border-radius: 8px;
  display: block;
  margin: auto;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  width: 25%;
}

.form input[type="submit"],
button {
  font: inherit;
}

.gameboard {
  margin-bottom: 25px;
  margin-left: 750px;
  margin-top: 25px;
  display: grid;
}

.dashboard-title {
  text-decoration: underline;
}

.gameboard-top-row {
  color: blue;
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}

.gravatar {
  height: 80px;
  border-radius: 50px;
}

.hide-sm {
  padding: 10px;
}

.hide-sms {
  margin-top: 20px;
  color: #333;
}

/* Text Styles*/
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.logout-button:visited {
  color: white;
}

.modal-content {
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 600px;
  margin-top: 120px;
  position: relative;
  text-align: center;
  width: 1500px;
}

#n3 {
  background: red;
  border-radius: 50%;
  font-size: 14px;
  padding: 4px;
}

.random-number {
  font-size: 40px;
  /* outline: 2px solid blue; */
}

.redCell {
  background: red;
  border-radius: 50%;
  font-size: 14px;
}

.round-img {
  border-radius: 50%;
}

.row-1 {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.row-2 {
  display: inline-block;
}

.row-3 {
  display: inline-block;
}

/* .table th,
.table td {
  padding: 1rem;
  text-align: left;
} */

.table th {
  background: var(--light-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

th {
  padding: 20px;
}

.top-tr {
  display: inline-block;
  /* justify-content: space-between; */
}

.yes-button,
.no-button {
  border-radius: 6px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  #aboutUs-modal,
  #account-modal,
  #bingoExplained-modal,
  #gameArchives-modal,
  #meetOurTeam-modal,
  #ourMission-modal,
  #nextGamecard-modal,
  #security-modal,
  #settings-modal,
  #testimonials-modal,
  #profile-modal,
  #wallet-modal {
    font-size: 10px;
    padding: 4px;
  }

  #ads-relative-to-blockchain,
  #education-modal,
  #gameStream-modal,
  #live-community-blog,
  #realTimeNews-modal {
	  font-size: 12px;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .dashboard-title {
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  .error-modal-writing, .success-modal-writing {
	font-size: 10px;
}

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"],
  .form input[type="date"],
  .form input[type="phoneNumber"],
  .form input[type="btcAddress"],
  .form select,
  .form textarea {
    display: block;
    margin: auto;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    width: 90%;
  }

  .hide-sm {
    font-size: 11px;
  }

  .gameStream-modal {
	  padding: 20px;
  }

  .gameboard {
	  margin-left: 20px;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .modal-content {
    color: black;
    background-color: white;
    border-radius: 5px;
    height: 400px;
    margin-top: 70px;
    /* position: relative; */
    text-align: center;
    /* width: 500px; */
  }

  /* Navbar */
  .navbar {
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  th {
    font-size: 13px;
    padding: 14px;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
}

/* for centering placeholders */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
